body{
  text-align: center;
  background-image: url(/Users/joelbruns/Desktop/projects/Broadway/resources/images/the-flatiron-building.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1{
  font-weight: bold;
  font-size: 70px;
  color: white;
  font-family: Helvetica;
}
header{
  color: white;
  font-size: 18px;
  font-family: Helvetica;
}
p{
  font-family: 18px;
  font-family: Helvetica;
  color: black;
}
h2{
  color: black;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
}
h3{
  color: black;
  font-size: 23px;
  font-family: Helvetica;
  font-weight: bold;
}
